/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2015, 3:27:58 PM
    Author     : Apurva
*/

/*Main form*/ 
#mainform {
    height: 550px;
    margin: 0px auto; 
    width: 800px;
}

/*Divs for different information inside main form*/
#mainform div {
    margin: 30px 120px ; 
    width: 620px;
}

/*First name div*/
#f-name {
    margin-left: 100px;
}

/*Last name div*/
#l-name {
    margin-left: 102px;
}

/*Gender div*/
#gender {
    margin-left: 125px;
}

/*Date of birth div*/
#dob {
    margin-left: 85px;
    width: 165px;
}

/*Phone div*/
#phone {
    margin-left: 112px;
}

/*E-mail div*/
#email {
    margin-left: 133px;
}

/*Password div*/
#pass {
    margin-left: 110px;
}

/*Confirm password div*/
#cpass {
    margin-left: 52px;
}

/*Hobbies div*/
#hobbies {
    margin-left: 118px;
}

/*Submit Button Div*/
#button-submit {
    margin-left: 200px ;
}